*.class
*.dex
*.ap_
*.apk
*.suo
*.iml
*.orig
*local.properties
*environment.dictionary
*environment.properties
*override.properties
*.ipr
*.iws
.gradle
*.idea
*build
tmp
target
.history
*target
*bin
*logs
*settings
*DS_Store
*cache
gen
.project
.classpath
.svn
.out
*.log

/.idea/libraries